@font-face{
  font-family: clock, sans-serif;
  src: url(https://ff.static.1001fonts.net/d/i/digital-7.regular.ttf);
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
   background-color: #101010;
}

#clock-outer{
  height: 100%;
  padding: 10px 0px 20px 0px;
  margin: auto;
  box-sizing: border-box;  
  text-align: center;
  font-family: Orbitron;
}

h1{
  margin-top: 0;
  margin-bottom: 0px;
  color: white;
}

#center{
  display: flex;
  justify-content: center;
  align-items: center;    
  margin: 25px 0px;
  padding: 0;
}

#time-center{
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 250px;
  width: 350px;
  padding: 0;
  margin: 0px 25px;  
  font-weight: bold;
  box-shadow: 0px 5px black, 0px -5px black,
    5px 0px black, -5px 0px black, inset 0px 3px black, inset 0px -3px black,
    inset 3px 0px black, inset -3px 0px black;
  border-radius: 50%;
  border-width: 10px;
  border-style: solid;
  border-color: white;
}

#timer-label{
 display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
   margin: 20px 0px 0px 0px;
  font-size: 30px;
  font-weight: bold;
 color: white;
}

#time-left{
  font-family: clock;
  font-size: 70px;
  color: white;
}

#break-cont, #session-cont, .setting-cont{
  display: inline-block;
  color: white;
}

#break-inner, #session-inner, .setting-inner{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10px auto;
}

#break-label, #break-length, #session-label, #session-length{
  font-size: 25px;
  font-weight: bold;
}

#break-increment, #break-decrement, #session-increment, #session-decrement{
  font-size: 25px;
  border: none;
  color: white;
  background-color: inherit;
  outline: 0;
}

#clock-functions-cont{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  width: 200px;
  margin: auto;
}

#start_stop, #reset{
  padding: 5px 0px;
  font-size: 40px;
  color: white;
  background-color: inherit;
  border: none;
  outline: 0;
}

#start_stop:hover, #reset:hover, #break-increment:hover, #break-decrement:hover, #session-increment:hover, #session-decrement:hover{
 outline: 2px solid white;  
}